{#{% extends"admin/index.html" %}#}
{#{% block body %}#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
     <div align="center">
    <table class="table  table-light">
  <tr>
    <th scope="row">NAME</th>
    <td><input type="text" name="textfield1" id="textfield1"required class="form-control" /></td>
  </tr>
  <tr>
    <th scope="row">EMAIL</th>
    <td><input type="email" name="textfield2" id="textfield2" required class="form-control"/></td>
  </tr>
  <tr>
    <th scope="row">PHONE NUMBER</th>
    <td><input type="number" name="textfield3" id="textfield3" required pattern="[9876][0-9]{9}"/></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add" class="btn btn-dark"/></th>
    </tr>
</table>
     </div>
</form>

</body>
</html>
{#{% endblock %}#}
