{% extends"admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table class="table table-light">
  <tr>
    <th scope="col">NAME</th>
    <th scope="col"><input type="text" name="textfield" id="textfield" class="form-control"/></th>
  </tr>
  <tr>
    <td>EMAIL</td>
    <td><input type="text" name="textfield1" id="textfield1" class="form-control"/></td>
  </tr>
  <tr>
    <td>PHONE NUMBER</td>
    <td>&nbsp;<input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="button" id="button" value="ADD"class=" btn btn-dark" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}
