<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col"><a href="/add_weather">Add weather department</a></th>
  </tr>
  <tr>
    <td><a href="/view_weather">view weather department</a></td>
  </tr>view_weather
  <tr>
    <td><a href="/AO_management">Add agriculture office</a></td>
  </tr>
  <tr>
    <td><a href="/view_AO">view agriculture office </a></td>
  </tr>
  <tr>
    <td><a href="/view_farmer">View registered farmer</a></td>
  </tr>
  <tr>
    <td><a href="/crop_management">Add crop</a></td>
  </tr>
  <tr>
    <td><a href="/view_crop_management">View crop</a></td>
  </tr>
  <tr>
    <td><a href="/pesticide">Add pesticide</a></td>
  </tr>
  <tr>
    <td><a href="/view_pesticides">View pesticide</a></td>
  </tr>
  <tr>
    <td><a href="/fertilizer">Add fertilizer</a></td>
  </tr>
  <tr>
    <td><a href="/view_fertilizer">View fertilizer</a></td>
  </tr>
  <tr>
    <td><a href="/">Load dataset</a></td>
  </tr>
     <tr>
    <td><a href="/log_out">Logout</a></td>
  </tr>
</table>
</body>
</html>
{% endblock %}
