{% extends"admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table class="table table-light table-hover">
  <tr>
    <th scope="col">#</th>
    <th scope="col">NAME</th>
    <th scope="col">EMAIL</th>
    <th scope="col">PHONE</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index}}&nbsp;</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>{{ i.email }}&nbsp;</td>
    <td>{{i.phone_number }}</td>
    <td><a href="/delete_weather/{{ i.dept_id }}"class="btn btn-danger" onclick="return confirm('are you sure to delete?')">DELETE</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}
