{% extends "weather/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="329" border="1" class="table table-light">
  <tr>
    <th width="12" scope="col">#</th>
    <th width="48" scope="col">Date</th>
    <th width="84" scope="col">Farmer Name</th>
    <th width="76" scope="col">doubt</th>
    <th width="75" scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>{{ i.doubt }}&nbsp;</td>
      {% if i.reply=='pending' %}
    <td><a href="/sendreply/{{ i.doubt_id }}">reply</a></td>
  {% else %}
      <td>{{ i.reply }}&nbsp;</td>
  {% endif %}


  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}
