{% extends "weather/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/view_Profile">View Profile</a></td>
  </tr>
  <tr>
    <td><a href="/add_weather2">Add weather</a></td>
  </tr>
  <tr>
    <td><a href="/view_weather1">View weather</a></td>
  </tr>
  <tr>
    <td><a href="">View Weather History</a></td>
  </tr>
  <tr>
    <td><a href="/view_doubt">View Doubts</a></td>
  </tr>
</table>

</body>
</html>
{% endblock %}
